@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewData["Title"] = "Login";
}


<div class="limiter">
    <div class="container-login100" style="background-image: linear-gradient(to bottom, #303395, #27b7f0)">

        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-34">
                    Account Login
                </span>

                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                    <input id="username" class="input100" type="text" name="username" placeholder="User name">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                    <input class="input100" type="password" name="password" id="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" id="Save">
                        Sign in
                    </button>
                </div>

                <div class="w-full text-center p-t-27 p-b-239">
                    <span class="txt1">
                        Create Account
                    </span>

                    <a href="@Url.Action("Register","Account")" class="txt2">
                        Register
                    </a>
                </div>

                <div class="w-full text-center">
                    <a href="#" class="txt3">

                    </a>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('@Url.Content("~/Login/images/home.jpg")'); background-size: contain;">

            </div>
        </div>
    </div>
</div>



<div id="dropDownSelect1"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

